/* Style reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}
/* Style reset end */

/* Global */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #212121;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.button {
  border: 0;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;

  background-color: #f5f4fa;
}
.button:hover,
.button:focus {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 2px 0px #0000001f;
}

.header_1 {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

h2,
h3,
p {
  letter-spacing: 0.03em;
}

img {
  display: block;
}

/* Global end */

/* Header */
.link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
}
.link_footer {
  color: rgba(255, 255, 255, 0.6);
}
.link:hover {
  color: #2196f3;
}
.link_logo {
  align-self: center;
  font-family: Raleway, serif;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  letter-spacing: 0.03em;
}

.logo_left_side {
  color: #2196f3;
}
.logo_header_right_side {
  color: #2f303a;
}
.logo_footer_right_side {
  color: #ffffff;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav,
.menu {
  align-self: center;
}

.menu,
.header_contact {
  font-weight: 500;
  align-self: center;
}

.header_contact {
  margin: 0 0 0 auto;
}

.header-contact-item {
  margin-right: 50px;
  letter-spacing: 0.02em;
  align-content: center;
}

.menu-item,
.header-contact-item {
  display: inline-block;
}

.menu-item {
  margin-right: 46px;
}

.menu-item:last-child,
.header-contact-item:last-child {
  margin: 0;
}

.link_menu_left {
  color: #212121;
}

.link_menu_right {
  display: flex;
  align-items: center;
  color: #757575;
}
.link_menu_right_icon_envelope {
  margin-right: 10px;
}
.link_menu_right:hover {
  fill: #2196f3;
}
.header {
  border-bottom: 1px solid #ececec;
}
/* Header end */
/* Slider */
.slider {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/slider.webp);
  background-repeat: no-repeat;
}
.container_slider {
  display: flex;
  height: 600px;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.slider_header {
  width: 696px;
  align-self: auto;

  text-align: center;
  letter-spacing: 0.06em;

  margin-bottom: 30px;
}

.button_slider {
  margin: 0 auto;
  cursor: pointer;
  line-height: 1.87;

  background-color: #2196f3;
  color: #ffffff;

  font-size: 16px;
  font-weight: 700;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 10px 42px;
}
/* Slider end */

/* Paragraphs section */
.paragraphs {
  display: flex;

  justify-content: center;
  align-items: center;

  list-style-type: none;
}
.paragraphs-item {
  display: block;
}

.paragraphs-item:not(:last-of-type) {
  margin-right: 30px;
}

.paragraph_icon {
  padding: 25px 102px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.header_3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  margin-bottom: 10px;
}
.paragraph {
  font-size: 14px;
  color: #757575;
  line-height: 1.71;
}
/* Paragraphs section end */
/* What we do */
.header_2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.images_item {
  display: inline-block;
  margin: 0 15px;
}
/* What we do end */
/* Crew */

.team {
  background: #f5f4fa;
}

.crew {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.crew_member {
  margin: 0 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.crew_member_figure {
  margin: 0;
}
.crew_member_description {
  text-align: center;
}
.list_crew_upper {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin: 30px 0 10px 0;
}
.list_crew_lower {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;

  margin: 10px 0 16px 0;
}
.crew_social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  margin-bottom: 10px;
}
.crew_social-media_item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.crew_social-media_link_icon_envelope {
  fill: #afb1b8;
  border-radius: 50%;
}
.crew_social-media_link_icon_envelope:hover,
.crew_social-media_link_icon_envelope:focus {
  fill: #ffffff;
  background: #2196f3;
}
/* Crew end */
/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
}
.button {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  margin: 0 4px;
  letter-spacing: 0.03em;
}
.button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Button end */
/* Portfolio */
.portfolio {
  margin-bottom: 94px;
}
.section_portfolio {
  padding-bottom: 50px;
}
.list {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
}
.list_item {
  margin: 0 0 30px 0;
}
.list_item:hover {
  box-shadow: 1px 4px 6px 0px #00000029;
}
.list_item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.list_description {
  border: 1px solid #eeeeee;
}
.list_description_upper {
  padding: 24px 0 0 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.list_description_lower {
  padding: 9px 0 24px 24px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* Portfolio end */
/* Clients */
.clients_list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.clients_list-item {
  width: 170px;
  height: 92px;
  padding: 17px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.clients_list-item:hover {
  fill: #2196f3;
  border-color: #2196f3;
}
.clients_list-item_icon_envelope {
  width: 106px;
  height: 60px;
}

/* Clients end */
/* Footer */
.footer {
  background: #2f303a;
}
.footer_container {
  display: flex;
  align-items: center;
}
.footer_wrapper {
  padding: 60px 0 60px 15px;
}
.footer_wrapper:not(:last-child) {
  margin-right: 70px;
}
.footer_contact_info {
  margin-top: 30px;
}
.address_footer {
  margin: 9px 0;
}
.link_footer p {
  margin: 9px 0;
  color: rgba(255, 255, 255, 0.6);
}
.footer_contact_info {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
}
.footer_social-media_text {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer_social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
  margin-bottom: 10px;
}
.footer_social-media_item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.footer_social-media_link_icon_envelope {
  fill: #ffffff;
  background: #ffffff1a;
  border-radius: 50%;
}
.footer_social-media_link_icon_envelope:hover,
.footer_social-media_link_icon_envelope:focus {
  background: #2196f3;
}
/* Footer end */
/* SVG */
.svg_envelope {
  width: 16px;
  height: 12px;
}
/* SVG end */
/* My CSS is catastrpohic garbage, i know ;( */
