.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: $transition;
}
.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 500px;
  padding: 40px;
  background-color: #fff;
  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    padding: 4px;
    border: solid 1px #000;
    border-radius: 50%;
    cursor: $cursor;
    color: #000;
    fill: #000;
    transition: $transition;
    &:hover {
      fill: $icon-color5;
      border-color: $button-hover-color;
    }
  }
  &__header {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 12px;
  }
  &__label {
    color: $font-color3;
    font-weight: $font-weight-400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
  }
  .input-wrapper {
    position: relative;
    margin-bottom: 10px;
    &:focus-within .contact-form__icon {
      fill: $icon-color5;
    }
  }
  &__input {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 100%;
    height: 40px;
    padding-left: 42px;
    outline: none;
    transition: $transition;
    &:focus {
      border-radius: 4px;
      border: 1px solid #2196f3;
      transition-property: border;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 42px;
    height: 14px;
    fill: $icon-color4;
    transition: fill $transition;
  }
  &__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border $transition;
    &:focus {
      border-radius: 4px;
      border: 1px solid #2196f3;
      transition-property: border;
    }
    &::placeholder {
      color: $font-color6;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.01em;
    }
  }
  &__checkbox {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    gap: 8px;
    margin: 20px 0px 30px 0;
  }
  .checkbox {
    display: block;
    position: relative;
    height: 16px;
    width: 16px;
    &__box {
      width: 16px;
      height: 16px;
      appearance: none;
      border: 2px solid #000;
      border-radius: 4px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &::after {
        content: url(../../images/icons/tick.svg);
        cursor: $cursor;
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        padding: 2px;
        opacity: 0;
        fill: #fff;
        transition: $transition;
      }
      &:checked {
        background: #2196f3;
        border: 2px solid #2196f3;
        &::after {
          opacity: 1;
        }
      }
    }

    &__text {
      display: inline;
      color: $font-color3;
      font-size: $font-size1;
      letter-spacing: $letter-spacing2;
    }
    &__link {
      color: $font-color2;
    }
  }
  &__button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: $button-bg-color2;
    color: $font-color4;
    border-radius: 4px;
    &:hover {
      box-shadow: 2px 5px 5px #00000080;
    }
  }
}
