.footer {
  background: $bg-color4;
  &__container {
    display: flex;
    align-items: center;
  }
  &__item {
    padding: 60px 0px;
    &:not(:first-child) {
      padding-left: 0;
    }
    &:not(:last-child) {
      margin-right: 70px;
    }
  }
  &__contact-info {
    margin-top: 30px;
  }
  .contact-info {
    &__link p {
      margin: 9px 0;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  &__social-media-text {
    color: $font-color4;
    font-weight: $font-weight-700;
    letter-spacing: $letter-spacing2;
    margin-bottom: 20px;
  }
  .social-media {
    &__item {
      width: 44px;
      height: 44px;
      border-radius: 50%;
    }
    &__icon {
      fill: $icon-color3;
      background: #ffffff1a;
      border-radius: 50%;
      transition: $transition;
      &:hover {
        background-color: $bg-color7;
      }
    }
  }
  .newsletter {
    display: flex;
    flex-direction: row;
    &__header {
      font-weight: bold;
      font-size: $font-size1;
      letter-spacing: $letter-spacing2;
      text-transform: uppercase;
      color: $font-color4;
      margin-bottom: 20px;
    }
    &__input {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      padding: 15px;
      background: none;
      outline: none;
      color: $font-color4;
      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }
    &__button {
      display: inline-flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      cursor: $cursor;
      width: 200px;
      height: 50px;
      background: $button-bg-color2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border: 0;
      border-radius: 4px;
      color: $font-color4;
      font-weight: bold;
      font-size: $font-size2;
      letter-spacing: 0.06em;
      &::after {
        content: url(/images/icons/send.svg);
        fill: #fff;
        width: 24px;
        height: 24px;
        margin-left: 24px;
      }
    }
  }
}
