.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ececec;
  &__contact {
    font-weight: $font-weight-500;
    align-self: center;
    .contact__item {
      display: inline-block;
      &:last-child {
        margin: 0;
      }
    }
  }
  & .logo {
    margin-right: 96px;
  }
  .container {
    width: 1200px;
    display: flex;
    align-items: center;
    height: 80px;
  }
}
.nav {
  flex-grow: 2;
  align-self: center;
  position: relative;
  height: 100%;
  display: flex;
}
.menu {
  align-self: center;
  position: relative;

  display: flex;
  &__item {
    font-weight: $font-weight-500;
    margin-right: 46px;
    align-self: center;
    &:last-child {
      margin: 0;
    }
  }
  &__link {
    color: $font-color1;
  }
  .link--active:after {
    content: "";
    display: block;
    position: absolute;
    width: 54px;
    height: 4px;
    background: $link-underscore-color;
    border-radius: 8px;
    bottom: -1px;
  }
  &__button {
    display: none;
  }
  &--mobile {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background: $bg-color1;
    transition: $transition;
    display: flex;
    flex-direction: column;
    .menu__close {
      align-self: flex-end;
      width: 20px;
      height: 20px;
      border: 0;
      background: none;
      &::after {
        content: url(../../images/icons/close.svg);
      }
    }
    .menu {
      display: flex;
      align-self: flex-start;
      flex-direction: column;
      flex-grow: 2;
      height: 40%;
      &__item {
        margin: 0;
        height: 80px;
        align-items: center;
        justify-content: center;
      }
      &__link {
        font-size: 40px;
      }
      .link--active {
        a {
          color: $font-color2;
        }
        &::after {
          display: none;
        }
      }
      &__contact {
        margin-bottom: 30px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        font-weight: $font-weight-500;

        .contact--phone {
          color: $font-color2;
          font-size: 34px;
          text-decoration: none;
        }
        .contact--mail {
          color: $font-color3;
          font-size: 24px;
          text-decoration: none;
        }
      }
      &__social-media {
        // margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .social-media {
          &__item {
            position: relative;
            &:first-of-type {
            }
          }
          &__separator {
            position: relative;
            &:not(:last-of-type)::after {
              display: block;
              position: absolute;
              content: "";
              width: 1px;
              height: 19px;
              top: 0;
              background: rgba(33, 33, 33, 0.2);
            }
          }
          &__link {
            position: relative;
            text-decoration: none;
            color: $font-color2;
            font-weight: $font-weight-500;
          }
        }
      }
    }
  }
}

.contact {
  &__item {
    margin-right: 50px;
    letter-spacing: $letter-spacing1;
    align-content: center;
  }
  &__link {
    display: flex;
    align-items: center;
    color: $icon-color1;
    fill: $icon-color1;
  }
  &__icon {
    margin-right: 10px;
    transition: $transition;
  }
}

@media screen and (max-width: 767px) {
  .header {
    & .container {
      justify-content: space-between;
    }
  }
  .nav,
  .header__contact {
    display: none;
  }
  .menu {
    height: 100%;
    &__button {
      display: block;
      height: 100%;
      padding: 0;
      outline: none;
      border: none;
      background: none;
      &::after {
        display: block;
        content: url(../../images/icons/menu--mobile.svg);
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    & .container {
      justify-content: space-between;
    }
    & .logo {
      margin: 0;
    }
    &__contact {
      display: flex;
      flex-direction: column;
    }
  }
  .nav {
    justify-content: center;
  }
  .contact__item {
    margin: 0;
  }
  .menu--mobile {
    display: none;
  }
}
