.filter {
  padding-bottom: 50px;
  &__buttons {
    display: flex;
    justify-content: center;
  }
  &__button {
    background: $button-bg-color1;
    border-radius: 4px;
    padding: 6px 22px;
    margin: 0 4px;
    letter-spacing: $letter-spacing2;
    &:hover {
      background: #2196f3;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
}

.portfolio {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  .overflow {
    position: relative;
    overflow: hidden;
  }
  &__item {
    position: relative;
    margin: 0 0 30px 0;
    transition: $transition;
    cursor: $cursor;
    &:hover {
      box-shadow: 1px 4px 6px 0px #00000029;
    }
    &:hover .portfolio__text {
      transform: translateY(0);
    }
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    padding: 49px 24px;
    color: $font-color4;
    font-size: 18px;
    line-height: 28px;
    background: rgba(33, 150, 243, 0.9);
    transition: $transition;
    transform: translateY(100%);
  }
  &__description {
    border: 1px solid #eeeeee;
    &--upper {
      padding: 24px 0 0 24px;
      font-weight: bold;
      font-size: $font-size3;
      color: $font-color1;
    }
    &--lower {
      padding: 9px 0 24px 24px;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: $letter-spacing2;
    }
  }
}
