#what-we-do {
  display: none;
}
.what-we-do {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__item {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    &:last-of-type {
      margin: 0;
    }
  }
  &__text {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 24px;
    background-color: $bg-color6;
    font-weight: $font-weight-700;
    color: $font-color4;
    text-align: center;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: $letter-spacing3;
  }
}
@media screen and (min-width: 1200px) {
  #what-we-do {
    display: flex;
  }
  .what-we-do {
    display: flex;
    &__item {
      margin-bottom: 0;
      margin-right: 30px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
