/* Style reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol,
li,
.list {
  list-style: none;
}
/* Style reset END */
/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: $font-family1;
  color: $font-color1;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding: 94px 0;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  letter-spacing: $letter-spacing2;
}

h3 {
  font-size: $font-size1;
  font-weight: bold;
  line-height: 1.14;
  margin-bottom: 10px;
  letter-spacing: $letter-spacing2;
}

p {
  font-size: $font-size1;
  color: $font-color3;
  line-height: 1.71;
  letter-spacing: $letter-spacing2;
}

.button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  background-color: $bg-color3;
  transition: $transition;
  &:hover,
  &:focus {
    background-color: $button-bg-color2;
    color: $font-color4;
    box-shadow: 0px 3px 2px 0px #0000001f;
  }
}

img,
label {
  display: block;
}
.link {
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #2196f3;
  }
}

.logo {
  align-self: center;
  font-family: Raleway, serif;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  letter-spacing: 0.03em;
  &__left-side {
    color: #2196f3;
  }
  &__right-side--header {
    color: #2f303a;
  }
  &__right-side--footer {
    color: #ffffff;
  }
}
