// Dimensions
$container-width: 1200px;
$container-padding: 0 15px;
$max-width1: 1600px;
// Dimensions END

// Global color palette
$bg-color1: #ffffff;
$bg-color2: #e5e5e5;
$bg-color3: #f5f4fa;
$bg-color4: #2f303a;
$bg-color5: rgba(47, 48, 58, 0.4);
$bg-color6: rgba(47, 48, 58, 0.8);
$bg-color7: #2196f3;

$font-color1: #212121;
$font-color2: #2196f3;
$font-color3: #757575;
$font-color4: #ffffff;
$font-color5: rgba(255, 255, 255, 0.6);
$font-color6: rgba(117, 117, 117, 0.5);

$icon-color1: #757575;
$icon-color2: #afb1b8;
$icon-color3: #ffffff;
$icon-color4: #212121;
$icon-color5: #2196f3;
// Global color palette END

// Elements color palette
$button-bg-color1: #f5f4fa;
$button-bg-color2: #2196f3;
$button-hover-color: #2196f3;

$link-underscore-color: #2196f3;

$header-font-color: #ffffff;

// Elements color palette END

// Fonts styling
$font-family1: Roboto, sans-serif;
$font-family2: Raleway;

$font-size1: 14px;
$font-size2: 16px;
$font-size3: 18px;

$h1-font-size: 44px;
$h2-font-size: 36px;
$h3-font-size: 14px;
$p-font-size: 14px;

$line-height1: 24px;
$line-height2: 28px;
$line-height3: 16px;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;

$letter-spacing1: 0.02em;
$letter-spacing2: 0.03em;
$letter-spacing3: 0.06em;
// Fonts styling END

// Transition
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// Transition END

// Hover pointer
$cursor: pointer;
// Hover pointer END

// Shadows
$button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$box-shadow1: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
// Shadows END
